---
const projects = [
    {
        title: "Unfiltered Podcast Network",
        image: "/images/testSectionImage_unfiltered.png",
        link: "#",
    },
    {
        title: "Rancho Deluxe Records",
        image: "/images/testSectionImage_rancho.png",
        link: "#",
    },
    {
        title: "Grindhouse Nashville",
        image: "/images/testSectionImage_grindhouse.png",
        link: "#",
    },
];
---

<section class="flex flex-col items-center justify-between bg-black">
    <div
        class="w-full border-y border-white px-8 py-4 font-subheadline text-sm uppercase tracking-[.3em] text-white"
    >
        Work With Us
    </div>
    <div class="grid w-full grid-cols-1 text-white md:grid-cols-3">
        {
            projects.map((project) => (
                <div class="group relative col-span-1 flex aspect-square items-center justify-center overflow-hidden border-r border-white bg-black md:col-span-1">
                    <a href={project.link}>
                        <img
                            src={project.image}
                            alt={project.title}
                            class="absolute inset-0 h-full w-full object-cover"
                        />
                    </a>
                    <div class="absolute bottom-0 flex w-full items-center justify-between border-t border-white bg-black px-6 py-4 text-right font-subheadline text-xs uppercase tracking-widest">
                        <p>Client:</p>
                        <a href={project.link}>
                            <p>{project.title}</p>
                        </a>
                    </div>
                </div>
            ))
        }
    </div>
</section>
